<div class="container mt-2">
  <div class="row">
    <a>{{idCommandePourProgTransport}}</a>
    <a>{{idTransportTest}}</a>
    <div  class="col col-md-6">
      <div class="card">
        <div class="card-header">Commande</div>
        <div class="card-body">


<div>
  <label for="idSearch" class="input-group-text">Rechercher par ID :</label>
  <input type="number" id="idSearch" [formControl]="searchControl"  class="form-control" [value]="valeurPar">
</div>
<a>{{valeurPar}}</a>
<table class="table">
  <thead>
  <tr>
    <th>ID</th><th>creation</th><th>envoi</th><th>Total</th><th>etat</th><th>lieu</th><th></th><th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let commande of filteredCommandes">
    <td>{{ commande.id }}</td>
    <td>{{ commande.date_creation | date: 'dd-MM-yyyy' }}</td>
    <td>{{ commande.date_envoi | date: 'dd-MM-yyyy' }}</td>
    <td>{{ commande.prixTotal }}</td>
    <td>{{ commande.etat }}</td>
    <td>{{ commande.lieu }}</td>
    <td> <button (click)="handleAjoutTransport(commande.id)" class="btn btn-info"> <i class="bi bi-truck"></i></button></td>
  </tr>
  </tbody>
</table>
<p *ngIf="filteredCommandes.length === 0 && searchControl.value">Aucune commande trouvée.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="showaddForm" class="container mt-2">
  <div class="row">
    <div class="col col-md-11">
      <div class="card">
        <div class="card-header">
          Planifier Transport
          <button (click)="finishajout()" class="btn btn-secondary">Annuler</button>
        </div>
        <div class="card-body">
          <form [formGroup]="AjoutTransportFrom" (ngSubmit)="ajoutTransport()">
            <div class="mb-3">
            <label class="input-group-text">Transporteur</label>
              <select id="transporteur" formControlName="transporteur" class="form-control">
                <option *ngFor=" let transporteur of transporteur" [value]="transporteur.id">
                 {{transporteur.id}}-{{transporteur.email}}-{{transporteur.nom}}-{{transporteur.role}}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="input-group-text">Véhicule</label>
              <select id="vehicule" formControlName="vehicule" class="form-control">
                <option *ngFor=" let vehicule of vihecules" [value]="vehicule.id">
                  {{vehicule.id}}-{{vehicule.capacite}}-{{vehicule.marque}}-{{vehicule.model}}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="date" class="input-group-text">Date :  </label>
              <input type="date" id="date" formControlName="date"  class="form-control"/>
            </div>
            <div class="mb-3">
              <label for="lieu" class="input-group-text">Lieu :  </label>
              <input type="text" id="lieu" formControlName="lieu" class="form-control" />
            </div>

            <button class="btn btn-primary">Enregistrer</button>
            <button  (click)="handleListerTransport()" class="btn btn-primary">Lister les transportrs</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>






<div *ngIf="showList" class="container mt-2">
  <div class="row">
    <div class="col col-md-11">
      <div class="card">
        <div class="card-header">
          Planifier Transport
          <button (click)="finishLister()" class="btn btn-secondary">Annuler</button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th><th>type</th><th>dateSprtie</th><th>Id_Transporteur</th><th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let t of transport">
              <td>{{t.id}}</td>
              <td>{{t.type}}</td>
              <td>{{t.dateSortie}}</td>
              <td>{{t.transporteur.id}}</td>
              <td>{{t.transporteur.nom}}</td>
              <td>{{t.transporteur.email}}</td>
              <td>
                <button (click)="HandleAjoutCommandeDansCeTransport(t.id)" class="btn btn-success"><i class="bi bi-truck"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

