<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" *ngIf="isADMINISTRATEUR">
          <a   class="nav-link" routerLink="/home/utilisateurs">Gestion Utilisateur</a>
        </li>

        <li class="nav-item" *ngIf="isADMINISTRATEUR || isAGENTLOGISTIQUE">
          <a class="nav-link" routerLink="/home/produit">Gestion Produits</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isADMINISTRATEUR || isAGENTLOGISTIQUE">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion Commande
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngIf="isADMINISTRATEUR || isAGENTLOGISTIQUE"><a class="dropdown-item" routerLink="/home/commandes" >Ajouter Commande</a></li>
            <li *ngIf="isADMINISTRATEUR || isAGENTLOGISTIQUE"><a class="dropdown-item" routerLink="/home/lignesCommande/0">Ligne Commande</a></li>

            <li *ngIf="isADMINISTRATEUR || isAGENTLOGISTIQUE"><a class="dropdown-item" href="/home/transport/0">Planifier Transport </a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="isTRANSPORTEUR">
          <a class="nav-link" routerLink="/home/livraison">Livraison</a>
        </li>

      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-success" type="button" (click)="logout()">Log out</button>

      </form>
    </div>
  </div>
</nav>

