<div class="container mt-2">
  <div class="row">
    <div  class="col col-md-11">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>Commande</div>
          <button (click)="ajouterProduit()" class="btn btn-info"> <i class="bi bi-plus"></i> </button>
        </div>
        <div class="card-body">


          <div>
            <label for="idSearch" class="input-group-text">Rechercher par ID :</label>
            <input type="number" id="idSearch" [formControl]="searchControl"  class="form-control" >
          </div>

          <table class="table">
            <thead>
            <tr>
              <th>ID</th><th>PRIX</th><th>DESCRIPTION</th><th></th><th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commande of filteredProduits">
              <td>{{ commande.id }}</td>
              <td>{{ commande.prix }}</td>
              <td>{{ commande.description }}</td>
              <td> <button (click)="updateProduit(commande)" class="btn btn-info"> <i class="bi bi-pencil"></i></button></td>

              <td> <button  class="btn btn-danger" (click)="deteteProduit(commande.id)"> <i class="bi bi-trash3"></i></button></td>
            </tr>
            </tbody>
          </table>
          <p *ngIf="filteredProduits.length === 0 && searchControl.value">Aucune commande trouvée.</p>

        </div>
      </div>
    </div>
  </div>
</div>









<div *ngIf="showEditForm" class="container mt-2">
  <div class="row">
    <div class="col col-md-11">
      <div class="card">
        <div class="card-header">
          Modifier Produit
          <button (click)="finishEdit()" class="btn btn-secondary">Annuler</button>
        </div>
        <div class="card-body">
          <form [formGroup]="modifierProduit" (ngSubmit)="enregistrerModification()">
            <div class="mb-3">
              <label for="id" class="input-group-text">id :  </label>
              <input type="text" id="id" formControlName="id" class="form-control" [readonly]="true" />
            </div>
            <div class="mb-3">
              <label for="prix" class="input-group-text">prix :  </label>
              <input type="number" id="prix" formControlName="prix" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="description" class="input-group-text">description:  </label>
              <input type="text" id="description" formControlName="description" class="form-control"  />
            </div>
            <button  class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>










<div *ngIf="showaddForm" class="container mt-2">
  <div class="row">
    <div class="col col-md-11">
      <div class="card">
        <div class="card-header">
          Modifier Produit
          <button (click)="finishajout()" class="btn btn-secondary">Annuler</button>
        </div>
        <div class="card-body">
          <form [formGroup]="ajoutProduit" (ngSubmit)="ajouterProd()">

            <div class="mb-3">
              <label for="prix" class="input-group-text">prix :  </label>
              <input type="number" id="prix" formControlName="prix" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="description" class="input-group-text">description:  </label>
              <input type="text" id="description" formControlName="description" class="form-control"  />
            </div>
            <button  class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
